[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ShrinkCovMat"]
	path = ShrinkCovMat
	url = https://github.com/anestistouloumis/shrinkcovmat
[submodule "SimCorMultRes"]
	path = SimCorMultRes
	url = https://github.com/anestistouloumis/simcormultres
[submodule "multgee"]
	path = multgee
	url = https://github.com/anestistouloumis/multgee
